@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@700&family=PT+Sans+Caption:ital@1&display=swap');

body {
    background-color: #FFFFFF; 
    font-family: 'Montserrat', sans-serif; 
    color: #333333;
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #064E3B;
}

a {
    color: #065F46;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}